.conditions-groups-container {
  margin-block: var(--space-l);
}

.form-wrapper .conditions-groups-container .messages-list {
  margin-block-start: 0;
}

.conditions-groups-header + div {
  border: solid 2px var(--color-gray-050);
  border-top: 0;
  padding: var(--space-l) calc(var(--space-m) - 2px) calc(var(--space-l) - 2px);
}

.conditions-groups-header + div .form-item:first-of-type,
.form-wrapper .conditions-groups-container .messages-list .messages {
  margin-block-start: 0;
}

.conditions-groups-header + div .form-type--vertical-tabs {
  margin-block-start: 0;
}

.conditions-groups-header {
  clear: both;
  display: flex;
  position: relative;
  box-sizing: border-box;
  column-gap: var(--space-xs);
  /*height: var(--space-xl);*/
  padding: var(--space-xs) var(--space-m);
  text-align: start;
  color: var(--color-text);
  background: var(--color-gray-050);
  line-height: 1.25rem;
  /*font-weight: bold;*/
  align-items: center;
}

.conditions-groups-label {
  margin-right: auto;
}

/* @todo Remove table stuff after we removed it from mockup */
table.conditions-groups-table {
  margin-block-end: 0;
}

.conditions-groups-header .button,
.conditions-groups-table thead .button {
  padding-block: calc(var(--dropbutton-small-spacing-size) - var(--dropbutton-border-size));
  font-size: var(--dropbutton-small-font-size);
  line-height: var(--dropbutton-small-line-height);
  margin: 0;
  /*margin-left: auto;*/
}

.conditions-groups-header .form-item,
.conditions-groups-header .container-inline.form-item,
.conditions-groups-table thead tr .form-item, .container-inline .form-item {
  margin-block: 0;
  /*margin-left: auto;*/
}


.conditions-groups-header .form-element--type-select,
.conditions-groups-table thead tr .form-element--type-select {
  min-height: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.conditions-groups-header .form-element--type-select {
  padding-block: calc(var(--dropbutton-small-spacing-size) - var(--dropbutton-border-size));
  font-size: var(--dropbutton-small-font-size);
  line-height: var(--dropbutton-small-line-height);
}

.form-actions.conditions-groups-form-actions {
  justify-content: end;
  /*margin-top: calc(var(--space-m));*/
}

.form-actions.conditions-groups-form-actions .button {
  padding-block: calc(var(--dropbutton-small-spacing-size) - var(--dropbutton-border-size));
  font-size: var(--dropbutton-small-font-size);
  line-height: var(--dropbutton-small-line-height);
  margin: 0;
}

/* @todo move this to solt widget? */
.field--type-slots {
  position: relative;
}
.field--type-slots .form-actions.conditions-groups-form-actions {
  position: absolute;
  top: 0;
  right: 0;
}
.slots-enable-wrapper {
  /*float: left;*/
}
