.conditions-form-element .vertical-tabs__menu-item.last {
  margin-bottom: calc(64px + var(--space-s));
}

.condition-logic-wrapper.form-item {
  margin-left: calc(var(--vertical-tabs-menu-width) * -1);
  position: absolute;
  bottom: 0;
  width: calc(var(--vertical-tabs-menu-width) - var(--space-s));
  margin-block: 0;
  background: var(--color-gray-050);
  padding: var(--space-s) var(--space-s) var(--space-s) calc(var(--space-l) - var(--vertical-tabs-menu-link--active-border-size));
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.condition-logic-wrapper .form-element--type-select {
  /* @todo Fix spacing if I remove this */
  /*min-height: auto;*/
  /*padding-top: 0;*/
  /*padding-bottom: 0;*/
}
